body {
    font-family: Arial, sans-serif;
    background-color: #f3f9ed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.todo-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
button {
    padding: 13px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}
.delete-btn {
    background-color: #ff4c4c; 
    color: white;
    border: none; 
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.9em;
    cursor: pointer; 
    margin-left: 10px; 
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #ff0000; /* Darker red on hover */
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
li.completed {
    text-decoration: line-through;
}
